
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../asset/AO Mono/AOMono-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family:  'Roboto-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(39, 36, 36, 0.658);
  color: white;
}

.container{
  background-color: rgba(0, 0, 0, 0.925);
  border: white;
  border-radius: 25px;
  margin-top:20px;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  width: 100%;
  border: solid 1px white;
}
table td, table th {
  border: solid 1px white;
  padding: 8px;
}

.list-item {
  display: flex;

  align-items: center;
}


.btn-hide {
  style: none;
  border-radius: 50%; 
}
.btn-delete {
  background-color: red;
  color: white;
  margin: 5px;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
}
ul {
color: white;
}

.custom-link {
  color: white;
  text-decoration: none;
}

.insert-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}