
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../asset/AO Mono/AOMono-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family:  'Roboto-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(39, 36, 36, 0.658);
  color: white;
}

.container{
  background-color: rgba(0, 0, 0, 0.925);
  border: white;
  border-radius: 25px;
  margin-top:20px;
}

p {
  color: white;
}

h1 {
  margin: 20px;
}
h2 {
  margin: 20px;
}
h3 {
  margin: 20px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



select {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
  width: 200px;
  box-shadow: 0px 0px 2px #888;
  transition: all 0.2s ease;
  margin: 5px;
}



/* .fancy_input {
  border: 5px double #000;
  border-radius: 20px;
  padding: 20px;
  font-size: 24px;
  width: 300px;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px #888;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 10px;
} */

input {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
  width: 200px;
  box-shadow: 0px 0px 2px #888;
  transition: all 0.2s ease;
  margin: 5px;
}


.list-item {
  display: flex;

  align-items: center;
}


.btn-hide {
  background-color: #313531;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 35%;
  opacity: 0.9;
  border-radius: 5px;
  margin-left: 30px;
}
.btn-hide2 {
  background-color: #313531;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  border-radius: 5px;
  margin-left: 30px;
}
.btn-delete {
  background-color: red;
  color: white;
  margin: 5px;
}

.back-btn {
  background-color: #313531;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
  border-radius: 5px;
  margin-left: 30px;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
}
ul {
color: white;
}

.custom-link {
  color: white;
  text-decoration: none;
}

.insert-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

